*{
  box-sizing: border-box;
}

body{
  max-width: 100%;
}

header{
  margin-bottom: 10px;
}

header p{
  margin: 2px 0;
  padding: 0;
}

h1{
  margin: 0 8px 8px 8px;
}
/* Style the timer */
#timer{
  margin: 15px;
  font-size: 32px;
  color: crimson;
 
}

/* Style the container div */
.container{
  max-width: 60%;
  width: 100%;
  margin: 50px auto 0 auto;
  padding: 50px 75px;
  background-color: rgb(230, 221, 221);
  border-radius: 5px;
  text-align: center;
  
}

/* Style answers */
#answers{
  max-width: 40%;
  width: 100%;
  margin: 0 auto;
  font-size: 115%;
  text-align: left;
}

/* Space the answers list items */
#answers li{
  margin-bottom: .5em;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;


}

/* Style the resetHighScores button */
#resetHighScores{
  display: none;
  margin: 10px auto;
  padding: 5px 10px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: cadetblue;
}

/* Style unordered lists */
ul{
  list-style-type: none;
  /* max-width: fit-content; */
  /* margin: 0 auto; */
  padding: 0;
}

/* Add hover effect to li items within a ul */
ul li:hover{
  background-color: darkseagreen;
  cursor: pointer;
}

/* hide and style the following divs on load */
#errMsg, #youLose, #initialError{
  display: none;
  color: crimson;
  font-size: 24px;
}

/* Hide and style the following divs */
#correct, #restart, #youWon, #onHighScoreReset{
  display: none;
  color: green;
  font-size: 24px;
}

/* Style all p elements within the following divs */
#youWon p, #initial p, #correct p, #errMsg p, #youLose p, #restart p #onHighScoreReset p{
  margin: 2px 0;
  padding: 0;
}

#youWon label{
  color: black;
  font-size: 115%;
}
/* Hide and style the high scores list */
#userHighScores{
  display: none;
  font-size: 115%;
}

/* define the size of the text on the high scores list */
#userHighScores ul{
  font-size: 125%;
}

/* Style buttons */
button{
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: cadetblue;
}

@media screen and(max-width: 768px){
  .container{
    max-width: 90%;
    width: 100%;
    margin: 15px auto;
    padding: 5px;
  }
  #answers, #answers li{
    max-width: 80%;
    width: 100%;
  }

}

@media screen and (max-width: 500px){

  .container{
    max-width: 92%;
    width: 100%;
    margin: 10px auto;
    padding: 3px;
  }
  #answers, #answers li{
    max-width: 90%;
    width: 100%;
    
  }
}