*{
  box-sizing: border-box;
}

body{
  max-width: 100%;
}

header{
  margin-bottom: 10px;
}

header p{
  margin: 2px 0;
  padding: 0;
}

h1{
  margin: 0 8px 8px 8px;
}

#timer{
  margin: 15px;
  font-size: 32px;
  color: crimson;
 
}

.container{
  max-width: 800px;
  width: fit-content;
  margin: 50px auto 0 auto;
  padding: 50px 75px;
  background-color: rgb(230, 221, 221);
  border-radius: 5px;
  
}

ul{
  list-style-type: none;
  max-width: fit-content;
}

li:hover{
  background-color: darkseagreen;
  cursor: pointer;
}

#errMsg, #youLose{
  display: none;
  color: crimson;
  font-size: 24px;
}

#errMsg p, #youLose p{
  margin: 2px 0;
  padding: 0;
}

#correct{
  display: none;
  color: green;
  font-size: 24px;
}

#correct p{
  margin: 2px 0;
  padding: 0;
}

button{
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: cadetblue;
}
